<!DOCTYPE html>
<html>
<head>
<title>
tscdev - mobile development site 
</title>
<link type="text/css" href="static/css/smoothness/jquery-ui-1.8.19.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="static/js/jquery-ui-1.8.19.custom.min.js"></script>
<script>

	$(function(){
		$("#tabs").tabs();

	});


</script>

</head>
<body>
<h1>Mobile Development </h1>

<h2>Lessons</h2>
<div id="tabs">
<ul >
<li><a href="#tab-1">Lesson 1 </a></li>
<li><a href="#tab-2">Lesson 2 </a></li>

</ul>
</div>

</body>
</html>
